@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --activeLinkWidth: 0;
    --activeLinkLocation: 0;
  }

  html,
  body {
    @apply bg-gray-200 text-gray-800 h-full antialiased;
  }

  #app {
    @apply h-full relative flex flex-col;
  }

  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-emerald-600 rounded-lg;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-emerald-700;
  }
}

#content :is(img, iframe) {
  margin-inline: auto;
}

#content img {
  max-height: 500px;
  border-radius: 0.5rem;
}

.ql-editor {
  max-width: 100%;
  min-height: 50vh;
  overflow-x: auto;
}

.ql-toolbar.ql-snow {
  border: 1px solid rgb(168 162 158 / 1) !important;
  border-radius: 0.5rem !important;
}

.ql-container.ql-snow {
  margin-top: 0.5rem;
  border: 1px solid rgb(168 162 158 / 1) !important;
  border-radius: 0.5rem !important;
  height: max-content !important;
}
